nav,div{
    text-align: center;
}
html,body{
    display:flex;
    flex-direction: column;
}
html{
    height:100%;
}
body{
   width:100%; 
}
main{
    height:600px;
}
main, header{
    min-width:480px;
    max-width:960px;
    width:100%;
    margin:auto;
}
@media(min-width:768px){
   
}